.nav-active{
  .nav-logo{
    width: 150px;
    background-size: 100%;
  }
  .nav-arrow{
    right: 2px;
    top: 6px;
    span:first-child{
      transform: rotate(45deg);
      transform-origin: top left;
    }
    span:last-child{
      transform: rotate(-45deg);
      transform-origin: top left;
    }
  }
  .assistant-wrapper-link-row{
    display: flex;
  }
  .portal-nav-module{
    display: block;
  }
}
