.l-container-popup, .l-container-popup-overlay{
  width: 100%;
  height: 100%;
}
.l-container-popup{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  &.active{
    display: block;
  }
}
.l-container-popup-layer{
  position: absolute;
  top: 0;
  left: 0;
}
.l-container-layer, .l-container-popup-layer{
  width: 100%;
  height: 100%;
  @extend %flex-center;
}
.l-container-popup-content{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  @extend %flex-center;
  .l-container-content{
    position: relative;
    padding: 20px;
  }
}
.l-container-layer{
  position: relative;
}
.l-container{
  margin: auto;
  position: relative;
  background-color: $color-background-basic-light;
  @extend %shadow-big-elem-light;
  @include RWD($tablet-small){
    width: 80%;
		}
  @include RWD($tablet-large){
    width: 65%;
    margin-top: 150px;
		}
}
