// REDESIGN 2020
// BASIC INSPIRE COLORS
$color-inspire-basic: #241c43;
$color-inspire-light: #47519c;
$color-inspire-nocolor: transparent;

$color-neutral-dark: #4B4B4B;
$color-neutral-middle: #A19EAF;
$color-neutral-light: #E3E4E1;

// MARKETPLACE
$color-assistant: #8E1259;
$color-comfort: #DA370A;
$color-BPMN: $color-inspire-basic;
$color-template: $color-inspire-light;
$color-service: #397700;
$color-apps: #E1C300;

// OTHERS
$color-text-light:#FFF;
$color-text-dark:#000;
$color-text-medium: $color-neutral-dark;
$color-text-inactive: $color-neutral-middle;
$color-background-basic-light: $color-text-light;
$color-succes: $color-service;
$color-warning:$color-apps;
$color-error: $color-assistant;
$color-shadow-light:rgba(0, 0, 0, 0.15);
$color-shadow-dark:rgba(0, 0, 0, 0.35);

// OLD COLORS!
$color-inspire-active:#009FA8;
$color-inspire-second-dark: #5B5672;
$color-inspire-second-dark-active: #918EA0;
$color-inspire-second-light: #C8C6D0;  //HSL: 252° 10% 80%
$color-inspire-second-light-shl: hsl(252, 10%, 80%);
$color-inspire-second-light-shl2:hsl(252, 10%, 90%);
$color-inspire-background-light:#F5F5F5;
$color-inspire-hover-background: lighten($color-inspire-second-light,14%);

// Marketplace colors
$color-template-light: #7760DB;
$color-template-dark: #4E3F8E;
$color-DA-light: #E37961;
$color-DA-dark: #AE4D67;
$color-comfort-light: #FEB55B;
$color-comfort-dark: #E37961;
$color-bpmn-light: #00E0A6;
$color-bpmn-dark: #00678E;
$color-app-light: #BFDF62;
$color-app-dark: #49D288;
$color-service-light: #43AED8;
$color-service-dark: #007AA1;


$color-text-header-first: #211D42;
$color-text-header-second: #00668F;
$color-background-blue-light: #E3FCFA;
$color-background-lilac-light: #F3F1FD;
$color-shadow-border:#C7C6D0;
$color-shadow-background: rgba(0, 0, 0, 0.08);
$color-inspire-border-transparent: $color-inspire-background-light;
$color-inspire-border-light: $color-template-light;
$color-inspire-border-blue: $color-service-light;
$color-elements:$color-text-header-second;

$color-MRKNOW-dark: #000;
$color-MRKNOE-lilac: $color-inspire-basic;

$color-model-start-fill: lighten($color-DA-light,20%);
$color-model-start-stroke: $color-DA-dark;
$color-model-task-fill: lighten($color-DA-light,40%);
$color-model-task-stroke: $color-bpmn-dark;
$color-model-gateway-fill: lighten($color-app-light,30%);
$color-model-gateway-stroke: darken($color-app-dark,30%);

$color-yellow: #FECC37;
$color-orange:#FEB55B;
$color-error: $color-DA-dark;
$color-neu:$color-bpmn-light;
$color-inactive: $color-inspire-second-dark-active;


//fonts- default
$helvetica: 'Helvetica', sans-serif;

//icons
$icon-x-large: 256px;
$icon-large: 128px;
$icon-big: 64px;
$icon-normal: 48px;
$icon-medium: 32px;
$icon-small:24px;
$icon-extra-small:16px;

//LAYOUT
$grid-gap:5px;
$nav-width: 50px;
$nav-width-rwd: 180px;
$nav-width-active: 220px;
$content-width: calc(100vw - #{$grid-gap} - #{$nav-width});
$content-width-nav: calc(100vw - #{$grid-gap} - #{$nav-width-active});
$content-width-rwd: calc(100vw - #{$grid-gap} - #{$nav-width-rwd});


//RWD
$phone : '(min-width: 420px)';
$tablet-small: '(min-width: 600px)';
$tablet:'(min-width: 768px)';
$tablet-large: '(min-width: 1024px)';
$desktop: '(min-width: 1280px)';
$desktop-large:'(min-width: 1920px)';
// $non-retina: 'screen and (-webkit-max-device-pixel-ratio: 1)';
// $retina: '(min--moz-device-pixel-ratio: 1.5),
//                     (-o-min-device-pixel-ratio: 3/2),
//                     (-webkit-min-device-pixel-ratio: 1.5),
//                     (min-device-pixel-ratio: 1.5),
//                     (min-resolution: 144dpi),
//                     (min-resolution: 1.5dppx)';


//
//animations
/* ----------------------------------------------
 * Generated by Animista on 2019-10-17 17:25:37
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation pulsate-fwd
 * ----------------------------------------
 */
@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
